.name {
    text-decoration: none;
    color: #33CCFF;
}

.nameActive {
    text-decoration: none;
    color: #5785b2;
}
.img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.container{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 50px 1fr;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(0, 123, 169, 0.6);
    border-radius: 10px;
}
