.container{
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.avaContainer{
    display: grid;
    justify-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}
.infoContainer{
    width: 90%;
    display: grid;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    grid-template-columns: 3fr 7fr;
    padding: 10px;
    justify-items: center;
    align-items: center;
}
.infoContainer>div{
    display: grid;
    justify-items: center;
}
.button{
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba(51, 204, 255, 0.35);
    color: #33CCFF;
    font-size: 17px;
    min-width: 100px;
    min-height: 35px;
}
.button:hover{
    background: rgba(51, 204, 255, 0.2);
    box-shadow: 0 0 10px #000;
}
.button:active{
    background: rgba(51, 204, 255, 0.5);
}