.post{
    display: grid;
    margin-bottom: 10px;
    justify-items: start;
}
.newPost{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avaMicro{
    width: 50px;
    border-radius: 50%;
    margin-right:10px;
}
.like{

}