.app-wrapper {
    display: grid;
    width: 1440px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
.app-wrapper-content{
    grid-area: c;
    background: rgb(19,14,93);
    background: linear-gradient(197deg, rgba(19,14,93,1) 0%, rgba(0,51,153,1) 50%, rgba(19,14,93,1) 100%);
    color: #33CCFF;
}


