.container{
    display: grid;
    justify-items: center;
}
.dialog{
    display: grid;
    width: 80%;
    align-items: center;
}
.selfDialog{
    justify-items: end;
    grid-template-columns: 1fr 50px;
}
.friendDialog{
    justify-items: start;
    grid-template-columns: 100px 1fr;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dialogElement{
display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
}